<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='login.css') }}"
    />
    <title>Amazing Memes</title>
  </head>
  <body>
    <h1 class="memes__title">Welcome To Amazing Memes</h1>
    <input placeholder="username" class="memes__inp" />
    <input placeholder="password" class="memes__inp" />
    <br />
    <button class="login-btn"><p>Login</p></button>
  </body>
</html>
